.tt {
    background: blue;
    border-radius: 30px;
}
.text-borders {
    border-radius: 15px;
}
.chiz {
    border: 1px solid black;
    height: 30px;
}
.qq {
    border-radius: 100px;
}
.bel {
    background-color: blue;
    border-radius: 60px;
}
.line-iw {
    height: 100px;
    width: 312px;
    background-color: #3456FF;
    border-radius: 50px 50px 0px 0px;
    margin-top: 80px;
}
.line-iww {
    width: 310px;
    height: 350px;
    
   
}
.bor {
    border-radius: 150px;
   margin-bottom: -50px;
   margin-top: 40px;
}
.op {
    background-color: #3456FF
   ;
  align-items: center;
  border-radius: 960px;
}
.qp {
    border-radius: 0px 0px 50px 50px;
}
.xxx {
    height: 425px;
    width: 350px;
    margin-top: 80px;
    border-radius: 30px;
}
.dropdown-bg {
    background: blue;
}
.ddm {
  color: green;
}
.hw {
    height: 100px;
    width: 615px;
    margin-top: 80px;
    border-radius: 50px;
}

.ttm {
    border-radius: 30px;
}
.btt {
    border-radius: 40px;
    padding-right: 200px;
}
.dba {
    background-color: blue;
    border-radius: 50px;
}
.zxa {
    border-radius: 50px;
}
.line-wit {
   width: 350px;
   height: 0px;
  border: 1px solid black;
 
}
.noname {
    width: 310px;
    height: 430px;
    border-radius: 40px;
}
.wwx {
    color: green;
}
.duu {
   width: 310px; 
   height: 380px;
   border-radius: 40px;
}
.ran {
    color: green;
}
.tnt {
  background: rgba(255, 255, 255, 0.847);  
}
.tpp {
    border-radius: 50px;
    margin-top: -30px;
}
.kkm {
    border-radius: 40px;
}
.xxt {
    border-radius: 30px;
    margin-top: -90px;
    height: 300px;
}